.container
	max-width: 930px
	margin: auto


.mainMenu
	margin: 79px auto 228px auto
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	font-size: 20px

.menuBlock
	margin-left: 7.5px
	width: 300px
	height: 380px
	opacity: 0.95
	border-radius: 2px
	background-color: #ffffff
	cursor: pointer
	position: realtive
	font-size: 18px

.menuBlock img
	width: 110px
	height: 110px
	margin-top: 84px
	margin-left: 95px

.menuBlock p
	margin-top: 66px
	text-align: center

.menuBlock:hover
	opacity: 0.75

.exitButton
	width: 86px
	margin-left: auto
	margin-top: 44px
	color: white
	cursor: pointer

.exitButton img
	display: inline-block
	width: 18px
	height: 18px
	margin-right: 8px
	font-size: 16px;
	color: #ffffff;

.exitButton p
	display: inline-block

.exitButton:hover
	opacity: 0.7
