.container
	margin-top: 153px
	width: 502px
	height: 378px
	opacity: 0.95
	border-radius: 2px1
	background-color: #ffffff
	font-family: Georgia

.loginform
	width: 322px
	margin-left: auto
	margin-right: auto
	display: grid
	grid-template-rows: 125px 40px 11px 40px 162px

.title
	text-align: center
	margin-top: 59px
	font-size 20px
	grid-row: 1 / span 1

.incorrectemail
	padding-left: 14px
	border: 1px solid #cda3a3
	grid-row: 2 / span 1

.incorrectemail::placeholder
	color: #cda3a3

.emailAlert
	grid-row: 2 / span 1

.incorrectpass
	padding-left: 14px
	border: 1px solid #cda3a3
	grid-row: 4 / span 1

.incorrectpass::placeholder
	color: #cda3a3

.passAlert
	grid-row: 4 / span 1

.inputemail
	padding-left: 14px
	grid-row: 2 / span 1

.inputpass
	padding-left: 14px
	grid-row: 4 / span 1

.button
	margin-top: 40px
	width: 322px;
	height: 40px
	border-radius: 2px
	background-color: #696c9b
	grid-row: 5 / span 1
	cursor: pointer
	font-size: 16px
	color: #ffffff
