.container
	text-align center
	width: 236px;
	height: 60px;
	background-color: #ffffff;
	margin: auto
	padding-top: 18px
	font-size: 25px;

.button
	width: 236px;
	height: 60px;
	background-color: #ffffff;
