@import 'mixins/reset'

reset()

html, body
	height 100%

body
	background-image linear-gradient(234deg, #194b7f, #b88cb7)
	font-family: ProximaNova;
	font-size: 21px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;

input
	border: solid 1px #a3b1cd;

input:hover
	border: solid 1px #586c96

input::placeholder
	font-size: 16px;
	color: #566495;

buttton
	font-size: 16px;
	color: #ffffff;

:global(.root)
	display flex
	justify-content center
	width 100%
	height 100%
