@import '~stylus/variables.styl'

+below($container-tablet - 1px)
	.container
		width 100%

+between($container-tablet, $container-desktop - 1px)
	.container
		width $container-tablet

+above($container-desktop)
	.container
		width $container-desktop

.container
	display flex
	flex-direction column
	align-items center
