.container
	max-width: 930px
	margin: auto

.profileButton
	cursor: pointer

.profileButton:hover
	opacity: 0.7

.navMenu
	padding-top: 44px
	padding-bottom: 43px;
	height: 105px

.exitButton
	width: 86px
	color: white
	cursor: pointer
	margin-left: auto

.exitButton img
	display: inline-block
	width: 18px
	height: 18px
	margin-right: 8px

.exitButton p
	display: inline-block

.exitButton:hover
	opacity: 0.7

.backButton
	width: 18px
	height: 12px
	float: left

.backButton:hover
	opacity: 0.7

.profileMenu
	padding-top: 56px
	opacity: 0.95
	border-radius: 2px
	background-color: #ffffff
	text-align: center
	display: grid
	grid-template-rows: 82px 154px 56px 236px 1fr

.profileMenu p
	grid-row: 1 / span 1

.userImg
	width: 140px;
	height: 140px;
	object-fit: contain;
	margin: 0px auto 0px auto
	grid-row: 2/ span 1

.imgLoadButton
	width: 109px
	height: 22px
	border-radius: 100px
	border: solid 1px #979797
	font-size: 11px
	margin: 0px auto 0px auto
	grid-row: 3 / span 1

.profileChangesForm
	margin: auto
	width: 322px

.profileChangesForm button
	margin-top: 35px
	width: 322px
	height: 40px
	border-radius: 2px
	background-color: #696c9b
	color: white

.profileChamgesForm button:hover
	cursor: pointer
	opacity: 0.7

.nameField
	width: 322px
	height: 40px
	border-radius: 2px
	border: solid 1px #a3b1cd
	margin-bottom: 11px
	padding-left: 14px

.birthDateContainer
	width: 322px;
	height: 40px;
	position:relative
	grid-row: 4 / span 1

.birthDateInput
	border-radius: 2px
	border: solid 1px #a3b1cd
	height: 40px
	margin:0
	width: 100%
	padding-left: 14px

.birthDateImg
	position:absolute
	bottom: 11px
	right: 5px
	width: 18px
	height: 20px

.userSessionsContainer
	grid-row: 5 / span 1
	padding-top: 52px
	padding-bottom: 101px
	border-top: solid 1px #d0d0d0

.userSessions
		margin: 38px auto 0px auto
		width: 615px
