.container
	max-width: 930px
	margin: auto

.navMenu
	padding-top: 44px
	padding-bottom: 43px;
	height: 105px

.exitButton
	width: 86px
	color: white
	cursor: pointer
	margin-left: auto

.exitButton img
	display: inline-block
	width: 18px
	height: 18px
	margin-right: 8px

.exitButton p
	display: inline-block

.exitButton:hover
	opacity: 0.7

.backButton
	width: 18px
	height: 12px
	float: left

.backButton:hover
	opacity: 0.7

.calendarContainer
	width: 930px
	opacity: 0.95
	border-radius: 2px
	background-color: #ffffff
	text-align: center
	padding-top: 56px

.calendarContainer p
	font-size: 20px

.weekDays
	width: 930px;
	height: 35px;
	background-color: #9fb3d1;
	padding-top: 10px

.weekDays p
	width: 132.8px
	display: inline-block
	text-align: left
	color: white
	font-size: 16px

.calendar
	display: grid
	grid-template-columns: repeat(7, 1fr)

.calendarNav
	margin-top: 58px;
	margin-bottom: 27px
	color: #2c5286
	display: inline-block
	cursor: pointer

.currentMonth
	width: 125px
	margin-left: 35px
	margin-right: 35px

.calendarDay
	color: #d0d0d0
	width: 131.9px;
	height: 117px;
	outline: solid 1px #d0d0d0
	text-align: right
	padding: 7px

.calendarDay:hover
	color: #696969
	box-shadow: 7px 7px 19px -5px rgba(82,81,82,1);

.anotherMonth
	background-color: #e6eaef;
